
div.user_card a {
    color: #000;
}
div.user_card {
    float: left;
    width: 290px;
    margin: 12px;
    background: #f5f2ed;
    border: 1px solid #e6e6e6;
    position: relative;
    margin-bottom: 25px;    
}
div.user_card div.small a {
    width: 94px;
}
div.user_card div {
    position: absolute;
    bottom: -35px;
}
div.user_card img {
    float: left;
    display: block;
    width: 100px;
    margin-right: 10px;
}
div.user_card span {
    padding: 15px;
    display: block;
}
div.user_card div a {
    background: url('../images/profile_menu_but.jpg') repeat-x;
    display:block;
    width:143px;
    height:35px;
    border:1px solid black;
    border-bottom:0;
    line-height:2em;
    color:white;
    text-decoration:none;
    font-size:16px;
    float: left;
    text-align: center;
}

div.user_card div a:hover {
    background: url('../images/profile_menu_but_hover.jpg') repeat-x;
    color:black;
}
#profile_menu_hor {
    width: 100% !important;
}
#profile_menu_hor .with_counter {
    padding: 6px 30px 6px 18px;
    position: relative;
}
#profile_menu_hor .right {
    float: right;
}
i.counter {
    width: 21px;
    height: 21px;
    background-color: white;
    border-radius: 10px;
    float: right;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.5);
    font-size: 13px;
    color: #5c1402;
    text-align: center;
    line-height: 1.8em;
    position: absolute;
    right: 5px;
    top: 4px;
}
div.user_card img {
    float: left;
    display: block;
    width: 100px;
    margin-right: 10px;
}
div.user_card p {
    padding: 15px;
}
div.user_card a.delete_group,div.user_card a.quit_group {
    color: #adadad;
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    right: 10px;
}
/*#add_group form input[type='submit'] {
    background: url('/images/profile_menu_but.jpg') repeat-x;
    display: block;
    width: 143px;
    height: 36px;
    border: 1px solid black;
    border-bottom: 0;
    line-height: 2em;
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    font-family: Arial;
    cursor: pointer;
    margin: 0 auto 10px;
}
*/#add_group form li, #pass_change form li {
    height: 100%;
}
#add_group form input[type='text'] {
    width: 300px;
}
#add_group form textarea {
    width: 585px;
    height: 120px;
	margin-left:0px
}
#add_group form img {
    vertical-align: middle;
}
.user {
    float: left;
    text-decoration: none;
}

.button_enter.small {
    font-size: 16px;
}
#add_group form input[type='text'], #add_group form input[type='password'] {
    height: 30px;
    width: 587px;
    padding-left: 10px;
    border: none;
    border-radius: 1px;
    -webkit-box-shadow: inset 1px 1px 4px 1px rgba(000,000,000,0.2);
    box-shadow: inset 1px 1px 3px 1px rgba(000,000,000,0.4);
    outline-color: rgba(255,0,0,0.7);
    margin-top: 10px;
    font: normal 14px 'Times New Roman', sans-serif;
}

form.search_form input[type='text'] {
    background: #fff url('../images/search_icon.png') 99% 50% no-repeat;
    padding-left: 5px;
    border: 1px solid #b7b49f;
    border-radius: 4px;
    width: 560px;
    height: 35px;
    box-shadow: inset 0 0 2px;
    margin-left: 10px;
}
form.search_form select, form.add_point select {
    height: 30px;
    margin-left: 10px;
}
.button_search {
    width:124px;
    height:33px;
    background: url('../images/button_enter.jpg') repeat-x;
    margin:10px 15px 0 0;
    color:white;
    text-align:center;
    line-height:1.8em;
    text-decoration:none;
    border:1px solid #2d0901;
    box-shadow:0 2px 2px rgba(0, 0, 0, 0.5);
    font-size:18px;
    font-family:"Times New Roman", Times, serif;
    cursor:pointer;
}
img.group_logo {
    float: left;
    margin-right: 8px;
}
p.host {
    font-size: 12px;
}
p.host a {
    color: #000;
}
.button_enter {
    width: initial; /*TODO make changes in style.css file */
    padding: 0 12px;
}
#send_comment {
    /*width: 622px;*/
}
.ui-helper-hidden-accessible {
    display: none;
}
#wrapper_after_scroll {
    overflow: visible;
    padding-bottom: 140px;
}
#wrapper_after_scroll:after {
    content: '';
    display: table;
    clear: both;
}
#scroll_outer {
    margin-top: -140px;
}
li.ui-menu-item a {
    background: #fff;
    display: block;
    width: 300px;
    padding: 5px;
    cursor: pointer;
}
label.db {
    display: block;
}

#setup li {
    height: 100%;
}
#setup li textarea {
    height: 140px;
    width: 600px;
}
#setup li label {
    float: left;
    display: block;
    width: 170px;
}
a.delete_group {
    color: #7D7D7D;
    float: right;
    margin-right: 14px;
}
.input_field {
    height: 30px;
    width: 596px;
    padding-left: 10px;
    border: none;
    border-radius: 1px;
    -webkit-box-shadow: inset 1px 1px 4px 1px rgba(000,000,000,0.2);
    box-shadow: inset 1px 1px 3px 1px rgba(000,000,000,0.4);
    outline-color: rgba(255,0,0,0.7);
    margin-bottom: 10px;
    font: normal 14px 'Times New Roman', sans-serif;
}
.auth_form_bg_sm h4 a {
    color: #91260c;
}
.search_form button {
    display: block;
    background: url('../images/button_reg.jpg') repeat-x;
    width: 160px;
    height: 33px;
    float: right;
    border: 1px solid #6f6e6c;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: white;
    text-align: center;
    font: normal 18px 'Times New Roman';
    line-height: 1.8em;
    margin: 10px 10px 5px 0;
    text-shadow: 1px 1px 3px #3B3B3B;
    cursor: pointer;
}
.search_form li.buttons {
    float: right;
    margin: 10px 0 0 10px;
}
.search_form li.buttons:before {
    content: '';
    display: table;
    clear: both;
}
.search_form li {
    float: left;
    margin: 10px 0 0 10px;
}
.search_form {
    width: 900px;
    margin: auto;
}
#event {
    clear: both;
}
#age_min, #age_max {
    width: 30px;
}
#search_query {
    width: 700px;
}
ul.list {
    width: 900px;
    margin: auto;
}
li.flags {
    float: left;
    margin: 8px;
}
li.flags img {
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.red_e {
    color: #91260c;
}
.search_gallery li {
    float: left;
    margin: 8px;
}
.search_gallery {
}