.album_toall, .one_docs a{
	color: black;
	text-decoration: none;
}

.album_toall:hover, .one_docs a:hover {
	text-decoration: underline;
}

.create_album_btn {
	background: url('/images/profile_menu_but.jpg') repeat-x;
	display: block;
	width: 143px;
	height: 36px;
	border: 1px solid black;
	border-bottom: 0;
	line-height: 2em;
	color: white;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	font-family: Arial;
	cursor: pointer;
	margin-top: 6px;
	margin-left: 400px;
}

.create_album_btn:hover {
	background: url('/images/profile_menu_but_hover.jpg') repeat-x;
    color:black;
}

.radio_privates {
	float: right;
	padding-top: 35px;
	width: 225px;
}

.privates_label {
	display: inline-block;
	margin-left: 20px;
	text-decoration: underline;
	font-weight: bold;
}

.new_album_mainform {
	width: 412px;
	margin-left: 6px;
	margin-top: 6px;
	padding-bottom: 6px;
}

.new_alb_name {
	margin-top: 6px;
	width: 400px;
}

.new_alb_text {
	margin-top: 6px;
	width: 400px;
	height: 200px;
}

#divFileProgressContainer {
	display: none;
}

#albums_wrap {
	width: 640px;
	margin: 0 auto;
	padding-top: 12px;
	overflow: visible;
	height: 100%;
	background-color: #f5f2ed;
}

.one_album {
	width: 300px;
	height: 250px;
	float: left;
	margin: 10px;
	background: #fff;
}

.one_album a{
	color: black;
	text-decoration: none;
}

.one_album a img {
	margin: 0 auto;
	width: 298px;
	height: 198px;
	border: 1px solid #000;
}

.album_text_overlay {
	display: none;
	position: absolute;
	width: 288px;
	height: 90px;
	margin-top: -101px;
	opacity: 0.9;
    filter: alpha(Opacity=90);
	background: #fff;
	color: #000;
	padding: 5px;
	border: 1px solid black;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

.one_album:hover .album_text_overlay{display: block;}

.album_control_panel {
	width: 300px;
	height: 49px;
	border-top: 0px;
}

.album_name{
	display: block;
	height: 22px;
	line-height: 22px;
	text-align:center;
	border: 1px solid #000;
	border-top: 0px;
	border-bottom: 0px;
}

.add_photo, .edit_album, .delete_album {
	display: block;
	float: left;
	width: 115px;
	text-align:center;
	border: 1px solid #000;
	height: 26px;
	line-height: 25px;
	cursor: pointer;
	color: white;
	background: url('/images/profile_menu_but.jpg') repeat-x;
}

.add_photo:hover, .edit_album:hover, .delete_album:hover, .album_name:hover {
	background: url('/images/profile_menu_but_hover.jpg') repeat-x;
    color:black;
}

.add_photo {
	border-right: 0px;
}

.edit_album {
}

.delete_album {
	width: 66px;
	border-left: 0px;
}

.delete_mf{ 
	width: 82px;
	border-left: 0px;
}

.album_label {
	font-size: 14pt;
	font-weight: bold;
}

.album_text {
	padding: 0px;
	margin-bottom: 6px;
}

.album_wrap {
	width: 644px;
}

.one_photo {
	width: 198px;
	height: 198px;
	float: left;
	margin: 6px 12px 6px 0px;
	border: 1px solid black;
}

.one_photo img {
	width: 198px;
	height: 198px;
}

.one_photo_inedit {
	width: 125px;
	height: 98px;
	float: left;
	margin: 6px 6px 0px 0px;
}

.one_photo_inedit img:first-child {
	width: 98px;
	height: 98px;
	float: left;
}

#delete_album_cover, .delete_album_photo{
	cursor: pointer;
}

.docs_wrap {
	padding: 6px 2px 0px 2px;
	width: 644px;
}

.one_docs {
	width: 200px;
	float: left;
	margin: 6px;
	text-align: center;
}

.one_docs a img {
	width: 198px;
	height: 198px;
	border: 1px solid black;
}

.one_mf a img {
	width: 128px;
	height: 128px;
	border: 0px;
}

.docs_control_panel {
	width: 200px;
	border-top: 0px;
}

.docs_name{
	display: block;
	line-height: 22px;
	text-align:center;
	border: 1px solid #000;
	border-top: 0px;
	border-bottom: 0px;
}

.mf_name {
	border: 0px;
}

.edit_docs, .delete_docs {
	display: block;
	float: left;
	width: 115px;
	text-align:center;
	border: 1px solid #000;
	height: 26px;
	line-height: 25px;
	cursor: pointer;
	color: white;
	background: url('/images/profile_menu_but.jpg') repeat-x;
}

.edit_docs:hover, .delete_docs:hover, .edit_mf:hover, .delete_mf:hover{
	background: url('/images/profile_menu_but_hover.jpg') repeat-x;
    color:black;
}

.edit_docs {
}

.delete_docs{
	width: 82px;
	border-left: 0px;
}

.edit_mf, .delete_mf {
	display: block;
	width: 200px;
	text-align:center;
	border: 1px solid #000;
	height: 26px;
	line-height: 25px;
	cursor: pointer;
	color: white;
	background: url('/images/profile_menu_but.jpg') repeat-x;
	margin-bottom: 6px;
}


