/* Сброс параметров по умолчанию */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	}
:focus {
	outline: 0;
	}
body {
	line-height: 1;
	color: black;
	background: white;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	}
ol, ul {
	list-style: none;
	}
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	text-align: left;
	font-weight: normal;
	}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}
	
/* добавления класса прозрачности png для IE */
* html .pnghack{filter:expression('progid:DXImageTransform.Microsoft.AlphaImageLoader(src='+this.src+')'); width:expression(10000000000); height:expression(10000000000)}

.loginform {
	background:#FFF; border:10px #c8c8c8 solid;border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior: url(/js/PIE.htc);
	clear:both;
	position:relative;
	padding-bottom:20px;
	padding-top:10px;
}

.whois a {color:#333;}
#main {background:url(img/bg.jpg) repeat-x top #f2f2f2;}
#main_block {width: 90%; margin:0 auto 20px auto; padding: 0 10px;}
.header {padding-top:2px; margin-bottom:10px;}
.logo {padding:0 20px; float:left;color:#FFF; font-size:16px; font-weight:bold;}
.logo a {color:#FFF; font-size:12px; font-weight:normal;}
.logo img {padding-right:10px;}
.logo span {line-height:105px;}
.smallgray {font-size:11px; color:#CCC;}
h1 {font-size:14px; padding-left: 20px;color:#555555; border-bottom: 1px dashed #555555; font-weight:bold; margin-bottom:10px; padding-bottom:5px; }
h4 {font-size:14px; padding-left: 20px;color:#555555; font-weight:bold; margin-top:10px;}
h1 img {padding: 5px 0;}
h3 {font-size: 16px; padding-left: 10px; font-weight:bold; margin-bottom:10px;}
h3 a, h3 strong, h4 a, h4 strong {color:#C8421A;}
.loginform {padding-left:30px;}
h2 {font-size:14px; line-height:30px;}
.whois {float:right; height: 30px; margin-top: 35px;margin-right: 10px; text-align:right;color:#FFF;}
.whois b {color:#FFF;}
.whois a:hover, h3 a:hover, h4 a:hover {text-decoration:none;}
.whois img {padding: 5px 0;}
.txt, .left_menu {padding:10px;}
.left_menu {width:230px; border-right: 1px dashed #e7e7e7;}
.left_menu li {list-style:none; clear:both;}
.podmod:hover {background:url(img/bg_menu.jpg) repeat-x top; color:#FFF}
.podmod:hover a {color:#FFF; text-decoration:none}
.podmod a:hover {color:#FFF; text-decoration:none}
.left_menu li a {color:#525252; text-decoration:none}
.left_menu li a:hover {text-decoration:underline;}
.left_menu li img {padding: 5px 10px;}
.conf {float:right; margin-top: 7px;}
.pages {line-height: 20px; padding-left: 10px; margin: 4px 0; clear:both; border-bottom:#e6e6e6 1px dashed}
.pages ul li {background:#f3f9ff;}
.pages a, .one_news a {color:#000; text-decoration:underline;}
.pages a:hover, .one_news a:hover {text-decoration:none;}
.pages .conf {margin:0;}
.head_news {background:#f3f9ff; height: 30px; color:#9F0931 }
.head_news td {text-align:center;}
.one_news {height:25px;}
.one_news:hover {background:#fbfbfb;}
.small {font-size:11px; line-height:30px;}
.texta {width:700px; height:300px;}
.clear {clear:both;}
.red {color:#c8421a; text-decoration:none;}
.add {float:right; width:200px; height:40px; line-height:40px; text-align:right;}
.pstrnav {width:100%; font-size:11px; height:30px; border-top: 1px dashed #999;}
.pstrnav a {color:#9F0931; text-decoration:none}
.last, .next {width:150px;}
.all_page {text-align:center; color:#999;}
.basket_on {text-align:right;}
.basket_head {height:30px; background:#f0f0f0;}
.basket_head td { text-align:center; font-weight:bold;border:1px solid #FFF;}
.center_img {text-align:center;}
.right {text-align:right; padding-right:5px;}
.itogo {border-top: 1px dashed #015d7b; height:50px;}
.itogo span {font-size:18px; color:#015d7b;}
.incat {width:50%; float:left; overflow:hidden;}
#goods {float:left; width:47%; overflow:hidden; padding:10px;}
.one_gg .imgingood {width: 50px; }
.add_green a {color:#56a82a; text-decoration:none;}
.add_green img {padding-right:5px;}
.block  {background:#FFF; border:10px #c8c8c8 solid;border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior: url(/js/PIE.htc);
	clear:both;
	position:relative;}
.one_cat {border-bottom:1px solid #eaeaea; cursor:pointer;}
.podmod {line-height: 20px; padding-left:40px;}
.podmod a {color:#c91e1e;}
.podmod a:hover {text-decoration:none;}
/* Global Declaration */

div.selector, 
div.selector span, 
div.checker span,
div.radio span, 
div.uploader, 
div.uploader span.action,
div.button,
div.button span {
  background-image: url(img/sprite.png);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}

.selector, 
.radio, 
.checker, 
.uploader,
.button, 
.selector *, 
.radio *, 
.checker *, 
.uploader *,
.button *{
  margin: 0;
  padding: 0;
}

/* INPUT & TEXTAREA */

input.text,
input.email, 
input.password,
textarea.uniform {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 3px;
  color: #777;
  background: url('img/bg-input-focus.png') repeat-x 0px 0px;
  background: url('img/bg-input.png') repeat-x 0px 0px;
  border-top: solid 1px #aaa;
  border-left: solid 1px #aaa;
  border-bottom: solid 1px #ccc;
  border-right: solid 1px #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
}

input.text:focus,
input.email:focus,
input.password:focus,
textarea.uniform:focus {
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  border-color: #999;
  background: url('img/bg-input-focus.png') repeat-x 0px 0px;
}

/* SPRITES */

/* Select */

div.selector {
  background-position: -483px -130px;
  line-height: 26px;
  height: 26px;
}

div.selector span {
  background-position: right 0px;
  height: 26px;
  line-height: 26px;
}

div.selector select {
  /* change these to adjust positioning of select element */
  top: 0px;
  left: 0px;
}

div.selector:active, 
div.selector.active {
  background-position: -483px -156px;
}

div.selector:active span, 
div.selector.active span {
  background-position: right -26px;
}

div.selector.focus, div.selector.hover, div.selector:hover {
  background-position: -483px -182px;
}

div.selector.focus span, div.selector.hover span, div.selector:hover span {
  background-position: right -52px;
}

div.selector.focus:active,
div.selector.focus.active,
div.selector:hover:active,
div.selector.active:hover {
  background-position: -483px -208px;
}

div.selector.focus:active span,
div.selector:hover:active span,
div.selector.active:hover span,
div.selector.focus.active span {
  background-position: right -78px;
}

div.selector.disabled {
  background-position: -483px -234px;
}

div.selector.disabled span {
  background-position: right -104px;
}

/* Checkbox */

div.checker {
  width: 19px;
  height: 19px;
}

div.checker input {
  width: 19px;
  height: 19px;
}

div.checker span {
  background-position: 0px -260px;
  height: 19px;
  width: 19px;
}

div.checker:active span, 
div.checker.active span {
  background-position: -19px -260px;
}

div.checker.focus span,
div.checker:hover span {
  background-position: -38px -260px;
}

div.checker.focus:active span,
div.checker:active:hover span,
div.checker.active:hover span,
div.checker.focus.active span {
  background-position: -57px -260px;
}

div.checker span.checked {
  background-position: -76px -260px;
}

div.checker:active span.checked, 
div.checker.active span.checked {
  background-position: -95px -260px;
}

div.checker.focus span.checked,
div.checker:hover span.checked {
  background-position: -114px -260px;
}

div.checker.focus:active span.checked,
div.checker:hover:active span.checked,
div.checker.active:hover span.checked,
div.checker.active.focus span.checked {
  background-position: -133px -260px;
}

div.checker.disabled span,
div.checker.disabled:active span,
div.checker.disabled.active span {
  background-position: -152px -260px;
}

div.checker.disabled span.checked,
div.checker.disabled:active span.checked,
div.checker.disabled.active span.checked {
  background-position: -171px -260px;
}

/* Radio */

div.radio {
  width: 18px;
  height: 18px;
}

div.radio input {
  width: 18px;
  height: 18px;
}

div.radio span {
  height: 18px;
  width: 18px;
  background-position: 0px -279px;
}

div.radio:active span, 
div.radio.active span {
  background-position: -18px -279px;
}

div.radio.focus span, 
div.radio:hover span {
  background-position: -36px -279px;
}

div.radio.focus:active span,
div.radio:active:hover span,
div.radio.active:hover span,
div.radio.active.focus span {
  background-position: -54px -279px;
}

div.radio span.checked {
  background-position: -72px -279px;
}

div.radio:active span.checked,
div.radio.active span.checked {
  background-position: -90px -279px;
}

div.radio.focus span.checked, div.radio:hover span.checked {
  background-position: -108px -279px;
}

div.radio.focus:active span.checked, 
div.radio:hover:active span.checked,
div.radio.focus.active span.checked,
div.radio.active:hover span.checked {
  background-position: -126px -279px;
}

div.radio.disabled span,
div.radio.disabled:active span,
div.radio.disabled.active span {
  background-position: -144px -279px;
}

div.radio.disabled span.checked,
div.radio.disabled:active span.checked,
div.radio.disabled.active span.checked {
  background-position: -162px -279px;
}

/* Uploader */

div.uploader {
  background-position: 0px -297px;
  height: 28px;
}

div.uploader span.action {
  background-position: right -409px;
  height: 24px;
  line-height: 24px;
}

div.uploader span.filename {
  height: 24px;
  /* change this line to adjust positioning of filename area */
  margin: 2px 0px 2px 2px;
  line-height: 24px;
}

div.uploader.focus,
div.uploader.hover,
div.uploader:hover {
  background-position: 0px -353px;
}

div.uploader.focus span.action,
div.uploader.hover span.action,
div.uploader:hover span.action {
  background-position: right -437px;
}

div.uploader.active span.action,
div.uploader:active span.action {
  background-position: right -465px;
}

div.uploader.focus.active span.action,
div.uploader:focus.active span.action,
div.uploader.focus:active span.action,
div.uploader:focus:active span.action {
  background-position: right -493px;
}

div.uploader.disabled {
  background-position: 0px -325px;
}

div.uploader.disabled span.action {
  background-position: right -381px;
}

div.button {
  background-position: 0px -523px;
}

div.button span {
  background-position: right -643px;
}

div.button.focus,
div.button:focus,
div.button:hover,
div.button.hover {
  background-position: 0px -553px;
}

div.button.focus span,
div.button:focus span,
div.button:hover span,
div.button.hover span {
  background-position: right -673px; 
}

div.button.active,
div.button:active {
  background-position: 0px -583px;
}

div.button.active span,
div.button:active span {
  background-position: right -703px;
  color: #555;
}

div.button.disabled,
div.button:disabled {
  background-position: 0px -613px;
}

div.button.disabled span,
div.button:disabled span {
  background-position: right -733px;
  color: #bbb;
  cursor: default;
}

/* PRESENTATION */

/* Button */

div.button {
  height: 30px;
}

div.button span {
  margin-left: 13px;
  height: 22px;
  padding-top: 10px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 2px;
  padding-right: 15px;
}

/* Select */
div.selector {
  width: 190px;
  font-size: 12px;
}

div.selector select {
  min-width: 190px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  border: solid 1px #fff;
}

div.selector span {
  padding: 0px 25px 0px 2px;
  cursor: pointer;
}

div.selector span {
  color: #666;
  width: 158px;
  text-shadow: 0 1px 0 #fff;
}

div.selector.disabled span {
  color: #bbb;
}

/* Checker */
div.checker {
  margin-right: 5px;
}

/* Radio */
div.radio {
  margin-right: 3px;
}

/* Uploader */
div.uploader {
  width: 190px;
  cursor: pointer;
}

div.uploader span.action {
  width: 85px;
  text-align: center;
  text-shadow: #fff 0px 1px 0px;
  background-color: #fff;
  font-size: 11px;
  font-weight: bold;
}

div.uploader span.filename {
  color: #777;
  width: 82px;
  border-right: solid 1px #bbb;
  font-size: 11px;
}

div.uploader input {
  width: 190px;
}

div.uploader.disabled span.action {
  color: #aaa;
}

div.uploader.disabled span.filename {
  border-color: #ddd;
  color: #aaa;
}
/*

CORE FUNCTIONALITY 

Not advised to edit stuff below this line
-----------------------------------------------------
*/

.selector, 
.checker, 
.button, 
.radio, 
.uploader {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
}

.selector select:focus, .radio input:focus, .checker input:focus, .uploader input:focus {
  outline: 0;
}

/* Button */

div.button a,
div.button button,
div.button input {
  position: absolute;
}

div.button {
  cursor: pointer;
  position: relative;
}

div.button span {
  display: -moz-inline-box;
  display: inline-block;
  line-height: 1;
  text-align: center;
}

/* Select */

div.selector {
  position: relative;
  padding-left: 10px;
  overflow: hidden;
}

div.selector span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.selector select {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity:0);
  height: 25px;
  border: none;
  background: none;
}

/* Checker */

div.checker {
  position: relative;
}

div.checker span {
  display: -moz-inline-box;
  display: inline-block;
  text-align: center;
}

div.checker input {
  opacity: 0;
  filter: alpha(opacity:0);
  display: inline-block;
  background: none;
}

/* Radio */

div.radio {
  position: relative;
}

div.radio span {
  display: -moz-inline-box;
  display: inline-block;
  text-align: center;
}

div.radio input {
  opacity: 0;
  filter: alpha(opacity:0);
  text-align: center;
  display: inline-block;
  background: none;
}

/* Uploader */

div.uploader {
  position: relative;
  overflow: hidden;
  cursor: default;
}

div.uploader span.action {
  float: left;
  display: inline;
  padding: 2px 0px;
  overflow: hidden;
  cursor: pointer;
}

div.uploader span.filename {
  padding: 0px 10px;
  float: left;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
}

div.uploader input {
  opacity: 0;
  filter: alpha(opacity:0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  float: right;
  height: 25px;
  border: none;
  cursor: default;
}
.site {
	float:left;
	padding-top:35px;
	padding-left:20px;
}
.site a {color:#FFF;}
.site a:hover, .copyright a:hover {text-decoration:none;}
.head td {font-weight:bold; text-align:center; background:#545454; color:#FFF; border-bottom:1px solid #35392a; height:20px;}
.head td.nobg {background: none; border:0;}
.copyright {text-align:center; font-size:11px; margin-top:10px;}
.copyright a {color:#999;}
.one_logo {float:left; width:50%;}
.need_left {float:left; margin-right:10px;}
.sovet{ float: right; margin-right:15px; width: 260px; position:relative; }
.sovet p{margin:0; padding: 15px 20px 30px 20px; color:#000000; font-family: 'Open Sans Condensed', sans-serif; font-size:30px; text-indent: 50px; line-height:30px;}
.quotes_top {position:absolute; top: 15px; left:10px; background:url(/images/quotes.png) no-repeat; width:48px; height:35px;}
.quotes_bottom {position:absolute; bottom: 15px; right:10px; background:url(/images/quotes_bot.png) no-repeat; width:48px; height:35px;}
.sovetSr{background:#ddc5c5; border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius:10px;	behavior: url(/js/PIE.htc);	position:relative; padding:10px 0; }
.sovetNiz{height:19px; background:url(/images/otvetnizbg.png) no-repeat right top;}
.recomend {text-align:right;font-family: 'Open Sans Condensed', sans-serif; font-size:16px; padding-right:10px; }
.hidden_mod {display:none;}
.uch {width:45%; float:left; margin-bottom:10px;}
.clear {clear:both;}
.name_cat_photo {clear:both; text-align:center; border-bottom:1px solid #D21F34; line-height:25px; margin-bottom:10px;}
.paginator_p {
		text-align:center;
		float:left;
		height:20px;
		line-height:20px;
		cursor:pointer;
		color:white;
		background-color:#B7B7B7;
		list-style-type:none;
	}
	.paginator_p.over {
		background-color:#8B8B8B;
	}
	.paginator_p.selected {
		background-color:#CAFF3A;
		color:white;
		background-color:#D21F34;
	}
	.paginator_p_wrap {
		position:relative;
		overflow:hidden;
		float:left;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
	.paginator_p_bloc {
		position:relative;
		width:3000px;
	}
	.paginator_slider {
		float:left;
		clear: left;
		height: 4px;
		top: 4px;
		background: white;
		border: solid 1px black;
		position:relative;
	}

	.paginator_slider .ui-slider-handle {
		width: 8px;
		height: 12px;
		position: absolute;
		top: -4px;
		background-color:black;
	}
#max_backward {background: url(/images/4.png) no-repeat center center;}			
#over_backward {background: url(/images/3.png) no-repeat center center;}			
#over_forward {background: url(/images/1.png) no-repeat center center;}			
#max_forward {background: url(/images/2.png) no-repeat center center;}
.control {
	float: left;
	width: 20px;
	height: 20px;
	position: relative;
	cursor: pointer;
	}
.one_gallery {width:25%; float:left;}
.filter {float:right; line-height:30px; margin-right:10px; color:#C91E1E; font-weight:bold; cursor:pointer}
.filter_form {border:1px dashed #C91E1E; padding:10px; display:none;}
.conf_access {float:left; width:18%;}
.event {margin-bottom:10px;}
.refresh {
    float: right;
}
.fresh_feed {
    display: block;
    width: 100px;
    height: 100px;
    color: rgba(0, 0, 0, 0.6);
}

.awards_list_in_person {
	margin:0;
	padding:0;
	list-style:none;
}

.awards_list_in_person li {
	width: 200px;
	display:block;
	float:left;
}

.awards_list_in_person li a {
	display:block;
	float:right;
	margin-right:12px;
}

.text_about_in_person {
	padding: 0 6px;
}

.events_list_in_person {
	margin:0;
	padding: 0;
	list-style:none;
}
.events_list_in_person li{
	display: block;
	padding: 3px 0;
}
#burial_map {
    width: 100%;
    height: 300px;
}